<template>
  <div class="controls">
    <div class="control left">
      <div>
        <img width="160px" height="160px" src="images/male.svg">
      </div>
      <img width="40px" height="40px" src="images/left_key.png">
    </div>
    <div class="control right">
      <img width="40px" height="40px" src="images/right_key.png">
      <div>
        <img width="160px" height="160px" src="images/female.svg">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Controls'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.controls {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.control.left {
  color: white;
}
.control.right {
  color: white;
}
</style>
