<template>
  <div class="end-screen">
    <div>
      {{score == 20 ? "Félicitations ! Vous avez gagné" : "Dommage ! Vous avez perdu en"}} en {{questionsNumber}} question{{questionsNumber > 1 ? 's' : '' }} !
      <p> Appuyez sur Entrée pour réessayer.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EndScreen',
  props: [ 'questions-number', 'score']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.end-screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffff8c;
}
</style>
