<template>
  <div class="game-over">

  </div>
</template>

<script>
export default {
  name: 'GameOver'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.game-over {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
</style>
