<template>
  <header class="header">
    <div>{{score}} ❤️</div>
  </header>
</template>

<script>
export default {
  name: 'Header',
  props: {
    score: Number
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header {
  background: #e5e57e;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
