<template>
  <div class="question">
    <div>
      <div class="label">Quel est le genre de ce prénom ?</div>
      <div class="name">{{question.name}}</div>      
    </div>
  </div>
</template>

<script>
export default {
  name: 'Question',
  props: {
    question: Object
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.question {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label {
  color: black;
}
.name {
  text-align: center;
  margin: 24px 0;
}
</style>
