<template>
  <EndScreen
  v-if="score == 20 || score == 0"
  :questions-number="questionsNumber"
  :score="score"
  />
  <div v-else id="app">
    <Header :score="score"/>
    <Controls/>
    <Question :question="question"/>
  </div>
</template>

<script>
import Header from '@/components/Header.vue';
import Controls from '@/components/Controls.vue';
import Question from '@/components/Question.vue';
import EndScreen from '@/components/EndScreen.vue';
const API = require('@/services/api');


export default {
  name: 'App',
  components: {
    EndScreen, Header, Controls, Question
  },
  data() {
    return {
      fetching: true,
      question: {
        name: null,
        answer: null
      },
      score: 10,
      questionsNumber: 0
    }
  },
  methods: {
    async changeQuestion() {
      this.fetching = true;
      this.question = await API.getRandomQuestion();
      this.fetching = false;
    },
    async onAnswer(answer) {
      if (!this.fetching && this.score > 0 && this.score < 20) {
        this.questionsNumber ++;
        this.score += answer === this.question.answer ? 1 : -1;
        await this.changeQuestion();
      }
    },
    async restartGame() {
      this.score = 10;
      this.questionsNumber = 0;
      await this.changeQuestion();
    }
  },
  async created() {
    await this.changeQuestion();
    document.addEventListener('keyup', (event) => {
      if (event.key === 'ArrowLeft') {
        this.onAnswer('male');
      } else if (event.key === 'ArrowRight') {
        this.onAnswer('female');
      } else if (event.key === 'Enter' && !(this.score < 20 && this.score > 0)) {
        this.restartGame();
      }
    }, false);
  }
}
</script>

<style>
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  background: #ffff8c;
  position: relative;
}
@font-face {
  font-family: 'Valera Round';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/VarelaRound-Regular.ttf');
}
:root {
  font-family: 'Valera Round' !important;
  font-size: 24px;
  color: #666638;
}

</style>
